<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href="/css/zero.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/js/script.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="main_logo">
            <div class="header container">
                <a href="/"><div class="logo"></div></a>
                <div class="menu">
                    <a href="/"><div>Skills</div></a>
                    <a href="/"><div>Portfolio</div></a>
                    <a href="/"><div>Video</div></a>
                    <a href="/"><div>Price</div></a>
                    <a href="/"><div>Contacts</div></a>
                    <a href="/"><div>en</div></a>
                    <div>/</div>
                    <a href="/"><div>ru</div></a>
                </div>
            </div>
            <div class="main_logo__center">
                <h1>Alexa Rise</h1>
                <p>Save sincere emotions, romantic feelings and happy moments of life together with professional photographer Alexa Rise</p>
                <a href="/"><div class="butt">Hire me</div></a>
            </div>
        </div>

        <main>
            <section class="skills">
                <div class="headhunter">
                    <div class="line"></div>
                    <h2>Skills</h2>
                </div>
                <div class="skull">
                    <div class="digital">
                        <img src="/img/camera.png" alt="photo">
                        <h3>Digital photography</h3>
                        <p>High-quality photos in the studio and on the nature</p>
                    </div>
                    <div class="video">
                        <img src="/img/video.png" alt="video">
                        <h3>Video shooting</h3>
                        <p>Capture your moments so that they always stay with you</p></div>
                    <div class="retouch">
                        <img src="/img/retouch.png" alt="retouch">
                        <h3>Retouch</h3>
                        <p>I strive to make photography surpass reality</p></div>
                    <div class="audio">
                        <img src="/img/mic.png" alt="audio">
                        <h3>Audio</h3>
                        <p>Professional sounds recording for video, advertising, portfolio</p></div>
                </div>
            </section>

            <section class="portpholio">
                <div class="headhunter port">
                    <div class="line"></div>
                    <h2>Portfolio</h2>
                </div>
                <div class="mini_menu">
                    <a href="/"><div class="button">Winter</div></a>
                    <a href="/"><div class="button">Spring</div></a>
                    <a href="/"><div class="button">Summer</div></a>
                    <a href="/"><div class="button">Autumn</div></a>
                </div>
                <div class="photos">
                    <div class="imige">
                        <img src="/img/seks.png" alt="seks">
                    </div>
                    <div class="imige">
                        <img src="/img/hosia.png" alt="hosia">
                    </div>
                    <div class="imige">
                        <img src="/img/child.png" alt="child">
                    </div>
                    <div class="imige">
                        <img src="/img/trees.png" alt="trees">
                    </div>
                    <div class="imige">
                        <img src="/img/ded.png" alt="ded">
                    </div>
                    <div class="imige">
                        <img src="/img/insta.png" alt="insta">
                    </div>
                </div>
            </section>

            <section class="vidio">
                <div class="headhunter">
                    <div class="line"></div>
                    <h2>Video</h2>
                </div>
                <div class="wedding">
                    <img src="/img/play.png" alt="play">
                </div>
            </section>

            <section class="price">
                <div class="headhunter">
                    <div class="line"></div>
                    <h2>Price</h2>
                </div>
                <div class="variations">
                    <div class="standart">
                        <h3>Standard</h3>
                        <h4>500 $</h4>
                        <p>One location</p>
                        <p>120 photos in color</p>
                        <p>12 photos in retouch</p>
                        <p>Readiness 2-3 weeks</p>
                        <p class="lst">Make up, visage</p>
                        <a href="/"><div class="button var">Order shooting</div></a>
                    </div>
                    <div class="standart">
                        <h3>Premium</h3>
                        <h4>700 $</h4>
                        <p>One or two locations</p>
                        <p>200 photos in color</p>
                        <p>20 photos in retouch</p>
                        <p>Readiness 1-2 weeks</p>
                        <p class="lst">Make up, visage</p>
                        <a href="/"><div class="button var">Order shooting</div></a>
                    </div>
                    <div class="standart">
                        <h3>Gold</h3>
                        <h4>1000 $</h4>
                        <p>Three locations or more</p>
                        <p>300 photos in color</p>
                        <p>50 photos in retouch</p>
                        <p>Readiness 1 week</p>
                        <p class="lst">Make up, visage, hairstyle</p>
                        <a href="/"><div class="button var">Order shooting</div></a>
                    </div>
                </div>
            </section>

            <section class="contacts">
                <div class="contacts__menu">
                    <h2>Contact me</h2>
                    <div class="e-mail">E-mail</div>
                    <div class="contacts__menu__phone">Phone</div>
                    <div class="contacts__menu__message">Message</div>
                    <a href="/"><div class="button contacts__menu__send_message">Send message</div></a>
                </div>
            </section>

            <footer>
                <div class="footer__main">
                    <div class="footer__main__left">
                        <img src="/img/copy.png" alt="copyright">
                        <p>2022</p>
                        <p>github</p>
                    </div>
                    <div class="footer__main__center">
                        <p>Rolling Scopes School</p>
                    </div>
                    <div class="footer__main__right">
                        <img src="/img/inst.png" alt="inst">
                        <img src="/img/facebook.png" alt="face">
                        <img src="/img/twitter.png" alt="twit">
                        <img src="/img/pateron.png" alt="pateron">
                    </div>
                </div>
            </footer>
        </main>
    </div>
</body>
</html>