
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	background: #000;
}

.main_logo{
	background-image: url("../img/bg_main.png");
	display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
	background-repeat: no-repeat;
	margin-bottom: 100px;
	height: 910px;
	background-position: center;
}
.header {
	display: flex;
	justify-content: space-between;
	width: 1440px;
}
.logo {
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	width: 75px;
	height: 65px;
}
.logo:hover{
	background-image: url("../img/lego.png");
	transition: 0.3s;
}
.menu {
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0em;
	text-align: left;
	color: #FFFFFF;
	display: flex;
	align-items: flex-end;
	line-height: 35px;
}
.menu a{
	margin-right: 30px;
}
.menu a:nth-child(6){
	margin-right: 9px;
}
.menu div:nth-child(7){
	margin-right: 9px;
}
a:visited{
	color: #FFFFFF;
}
a:hover{
	color: #bdae82;
	transition-duration: 0.3s;
}
.language {
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0em;
	text-align: center;
	color: #FFFFFF;
}
.main_logo__center h1{
	font-family: Merriweather;
	font-size: 60px;
	font-weight: 700;
	line-height: 120px;
	letter-spacing: 0em;
	text-align: left;
	color: #FFFFFF;
	margin-bottom: 10px;
}
.main_logo__center p{
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: left;
	color: #FFFFFF;
	max-width: 470px;
	margin-bottom: 25px;
}
.main_logo__center div{
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 55px;
	letter-spacing: 0em;
	background-color: #BDAE82;
	max-width: 220px;
	text-align: center;
	color: #000000;
}
.main_logo__center div:hover{
	color: #FFFFFF;
	transition: 0.3s;
}
.main_logo__center{
	padding-left: 80px;
	padding-bottom: 150px;
}
.skills {
	max-width: 1360px;
	margin: 0 auto;
	margin-bottom: 200px;
}
.headhunter {
	font-family: Merriweather;
	font-size: 40px;
	font-weight: 700;
	line-height: 80px;
	letter-spacing: 0em;
	text-align: center;
	color: #BDAE82;
}
.headhunter h2{
	margin: 0 auto;
	width: 152px;
	position: relative;
	z-index: 2;
	bottom: 42px;
	background-color: #000000;
}
.line {
	background-color: #BDAE82;
	border: 1px solid #BDAE82;
	max-width: 700px;
	margin: 0 auto;
}
.skull h3{
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: center;
	color: #FFFFFF;
}
.skull p{
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: center;
	color: #FFFFFF;
}
.skull{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 80px;
}
.digital {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.digital img{
	width: 62px;
	height: 50px;
	margin-bottom: 50px;
}
.digital h3{
	margin-bottom: 20px;
}
.digital p{
	width: 280px;
}
.video {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.video img{
	width: 60px;
	height: 50px;
	margin-bottom: 50px;
}
.video h3{
	margin-bottom: 20px;
}
.video p{
	width: 280px;
}
.retouch {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.retouch img{
	width: 66px;
	height: 50px;
	margin-bottom: 50px;
}
.retouch h3{
	margin-bottom: 20px;
}
.retouch p{
	width: 280px;
}
.audio {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.audio img{
	width: 32px;
	height: 50px;
	margin-bottom: 50px;
}
.audio h3{
	margin-bottom: 20px;
}
.audio p{
	width: 280px;
}
.portpholio {
	max-width: 1400px;
	margin: 0 auto;
}
.port h2{
	width: 221px
}
.port{
	margin-bottom: 30px;
}
.mini_menu{
	display: flex;
	justify-content: center;
	gap: 5px;
	margin-bottom: 60px;
	flex-wrap: wrap;
}
.button:hover{
	color: #000000;
	background-color: #BDAE82;
	transition: 0.3s;
}
.button {
	width: 220px;
	height: 55px;
	border: 2px solid #BDAE82;
	color: #BDAE82;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: 0em;
	text-align: center;
}
.photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 25px;
	margin-bottom: 100px;
}
.imige img{
	width: 100%;
	height: 100%;
}
.vidio {
	max-width: 1400px;
	margin: 0 auto;
}
.wedding {
	background-image: url("../img/wedding.png");
	height: 705px;
	display: flex;
    align-items: center;
    justify-content: center;
	margin-bottom: 100px;
	background-position: center;
}
.variations {
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 100px;
}
.standart {
	max-width: 450px;
	height: 505px;
	border: 2px solid #BDAE82;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
}
.standart h3{
	font-family: Merriweather;
	font-size: 28px;
	font-weight: 700;
	line-height: 56px;
	letter-spacing: 0em;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 20px;
	padding-top: 43px;
}
.standart h4{
	font-family: Merriweather;
	font-size: 24px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: center;
	color: #BDAE82;
	margin-bottom: 20px;
}
.standart p{
	font-family: Inter;
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: center;
	color: #FFFFFF;
}
.lst{
	margin-bottom: 40px;
}
.var {
	background-color: #BDAE82;
	color: #000000;
}
.var:hover{
	color: #FFFFFF;
}
.contacts {
	background-image: url("../img/contacts.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 700px;
}
.contacts__menu{
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	padding-top: 60px;
	margin-right: 20px;
	max-width: 450px;
}
.contacts__menu h2{
	font-family: Merriweather;
	font-size: 40px;
	font-weight: 700;
	line-height: 80px;
	letter-spacing: 0em;
	text-align: left;
	color: #BDAE82;
	margin-bottom: 40px;
}
.e-mail {
	width: 450px;
	text-align: left;
	padding-left: 20px;
	height: 50px;
	margin-bottom: 20px;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 45px;
	letter-spacing: 0em;
	text-align: left;
	color: #BDAE82;
	border: 3px solid #BDAE82;
}
.contacts__menu__phone {
	width: 450px;
	text-align: left;
	padding-left: 20px;
	height: 50px;
	margin-bottom: 20px;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 45px;
	letter-spacing: 0em;
	text-align: left;
	color: #BDAE82;
	border: 3px solid #BDAE82;
}
.contacts__menu__message {
	width: 450px;
	height: 100px;
	text-align: left;
	padding-left: 20px;
	margin-bottom: 30px;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: left;
	color: #BDAE82;
	border: 3px solid #BDAE82;
	padding-top: 5px;
}
.contacts__menu__send_message {
	background-color: #BDAE82;
	color: #000000;
}
.contacts__menu__send_message:hover{
	color: #FFFFFF;
}
.footer__main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 150px;
}
.footer__main__left {
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0em;
	text-align: left;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin-left: 20px;
}
.footer__main__center {
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0em;
	text-align: left;
	color: #FFFFFF;
}
.footer__main__right {
	display: flex;
	gap: 30px;
	margin-right: 22.71px;
}
@media (max-width:768px){
	.main_logo{
		height: 590px;
		background-image: url("../img/adaptive_main.png");
		background-position: center;
	}
	.main_logo h1{
		font-family: Merriweather;
		font-size: 32px;
		font-weight: 400;
		line-height: 64px;
		letter-spacing: 0em;
		text-align: left;
		color: #FFFFFF;
	}
	.main_logo p{
		font-family: Inter;
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
		color: #FFFFFF;
	}
	.menu a{
		margin-right: 15px;
	}
	.menu a:nth-child(6){
		margin-right: 4.5px;
	}
	.menu div:nth-child(7){
		margin-right: 4.5px;
	}
	.line {
		background-color: #BDAE82;
		border: 1px solid #BDAE82;
		max-width: 364px;
		margin: 0 auto;
	}
	.headhunter {
		font-family: Merriweather;
		font-size: 32px;
		font-weight: 700;
		line-height: 40px;
		letter-spacing: 0em;
		text-align: center;
		color: #BDAE82;
		margin-bottom: 65px;
	}
	.headhunter h2{
		margin: 0 auto;
		width: 185px;
		position: relative;
		z-index: 2;
		bottom: 22px;
		background-color: #000000;
	}
	.mini_menu{
		display: flex;
		justify-content: center;
		gap: 5px;
		flex-wrap: wrap;
		width: 445px;
		margin: 0 auto;
		margin-bottom: 60px;
	}
	.wedding {
		background-image: url("../img/wedding_adapt.png");
		height: 418px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-position: center;
		background-repeat: no-repeat;
	}
	.wedding img{
		display: none;
	}
	.variations {
		display: flex;
		flex-direction: column;
		gap: 25px;
		justify-content: center;
		margin: 0 auto;
		margin-bottom: 60px;
		max-width: 420px;
		padding: 20px;
	}
	.contacts__menu{
		margin: 0 auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-top: 60px;
		max-width: 450px;
	}
	.footer__main {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 200px;
		justify-content: center;
	}
	.footer__main__right {
		display: flex;
		gap: 30px;
		margin: 0px;
		margin-bottom: 32px;
	}
	.footer__main__left {
		font-family: Inter;
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
		color: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		margin: 0px;
		margin-bottom: 16px;
	}
	.footer__main__center {
		font-family: Inter;
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
		color: #FFFFFF;
		margin-bottom: 32px;
	}
}